<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>roadmap-jira-report-update</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__JIRA_REPORT_LAUNCHER__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__JIRA_REPORT_LAUNCHER_DIR__</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>__JIRA_REPORT_HOUR__</integer>
    <key>Minute</key>
    <integer>__JIRA_REPORT_MINUTE__</integer>
  </dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>TZ</key>
    <string>__JIRA_REPORT_TZ__</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/jira-report-launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/jira-report-launchd.log</string>
</dict>
</plist>
